.custom-link {
  color: #0762b2; /* Màu cam nhạt (#FFA07A là màu LightSalmon) */
}
.bold {
  font-weight: bold; /* Chữ in đậm */
}
.active {
  color: #cc2849f8 !important;
}
.bg-1 {
  background: #5194c1;
  font-weight: 500;
  
}

.bg-2 {
  background: #38b73d;
  font-weight: 500;
}

.nav-bg {
  background-color: #DEE5D4;
}

.btn:hover {
  background-color: #adc931; /* Màu nền khi hover */
}

.container {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn-logout {
  background-color: rgb(227, 73, 35);
}
.welcome-custom {
  background-color: #5194c1;
}