<div class="d-flex justify-content-center" *ngIf="token&&email">
  <div class="col-12 col-lg-5">
    <main class="form-signin">
      <form
        [formGroup]="resetPasswordForm"
        class="form-signin"
        (ngSubmit)="ResetPassword()"
        autocomplete="off"
      >
        <div class="text-center mb-4">
          <h1 class="mb-3 font-weight-normal text-1">
            <span> Reset Password </span>
          </h1>
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="email"
            type="text"
            class="form-control"

          />
          <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="newPassword"
            type="password"
            placeholder="Your new password"
            class="form-control"
            [class.is-invalid]="
              submitted && resetPasswordForm.get('newPassword')?.errors
            "
          />
          <label for="newPassword">New password</label>
          <span
            class="text-danger"
            *ngIf="
              submitted &&
              resetPasswordForm.get('newPassword')?.hasError('required')
            "
          >
            Password is required !
          </span>
          <span
            class="text-danger"
            *ngIf="
              submitted &&
              (resetPasswordForm.get('newPassword')?.hasError('minlength') ||
                resetPasswordForm.get('newPassword')?.hasError('maxlength'))
            "
          >
            Password is at least 6 characters and maximum 15 characters !
          </span>
        </div>

        <div class="form-floatin" *ngIf="errorMessages.length > 0">
          <app-validation-messages [errorMessages]="errorMessages">
            Duy</app-validation-messages
          >
        </div>

        <div class="d-grid mt-4 px-1">
          <button class="btn btn-lg bg-1" type="submit">Change Password</button>
        </div>
        <app-notification></app-notification>
      </form>
    </main>
  </div>
</div>
